.popup-window {
    width: 500px;
    height: 300px;
    position: fixed;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #ffffff;
    /*border-radius: 6px;*/
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    z-index: 10000;
    display: none;
}
.popup-window .popup-header {
    border-bottom: 1px silver solid;
    padding: 5px 20px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
.popup-window .popup-body {
    position: relative;
}
.popup-window .popup-body .popup-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 14000;
}
.popup-window .popup-body .popup-loader .popup-loader-fade {
    position: absolute;
    z-index: 14500;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: white;
}
.popup-window .popup-body .popup-loader .popup-loader-image {
    position: absolute;
    z-index: 15000;
    width: 40px;
    height: 40px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popup-window .popup-body .popup-content {
    position: relative;
}
.popup-window .popup-close {
    position: absolute;
    right: 10px;
    top: 5px;
}
.popup-window .popup-close .close-button {
    position: absolute;
    right: 40px;
    top: 2px;
    width: 17px;
    height: 17px;
    color: #808080;
    text-decoration: none;
}
.popupContent .input-string input[type=text],
.popupContent .input-string input[type=password] {
    width: 395px !important;
    border: 1px silver solid;
    border-radius: 3px !important;
    height: 25px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    box-sizing: border-box;
}
.popupContent .input-int input[type=text],
.popupContent .input-int input[type=password] {
    width: 96%;
    border: 1px silver solid;
    border-radius: 3px;
    height: 25px;
    padding: 0px 5px;
    box-sizing: border-box;
}
.popupContent .input-string,
.popupContent .input-int {
    width: 395px;
    margin: 0px auto;
}
.popup-content .popupForm .content .cell {
    padding: 10px;
}
.popup-content .popupForm .bottom .cell {
    height: 20px;
    padding: 10px;
    border-top: 1px #eee solid;
    background-color: #f5f5f5;
}
.popup-content .popupForm input, select, textarea {
    height: 30px;
    position: relative;
    width: 300px;
}