.to-top {
    border-bottom: 0px !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
.to-bottom {
    border-top: 0px !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.core-autocomplete {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    border: 1px silver solid;
    width: 398px;
    max-height: 300px;
    overflow-x: auto;
    z-index: 15000;
}
.core-autocomplete li {
    background-color: white;
    cursor: pointer;
    border-bottom: 1px silver solid;
    padding: 3px 5px;
}
.core-autocomplete li:last-child {
    border-bottom: 0px;
}
.core-autocomplete li:hover {
    background-color: #E1E1E1;
}