.tabs-nav {
    list-style: none;
    padding: 0px;
}
.tabs-nav-top {
    margin: 0px 0px 0px 0px;
}
.tabs-nav-bottom {
    margin: -20px 0px 0px 0px;
}
.tabs-nav-top li {
    border: 1px #0088cc solid;
    border-bottom: 0px;
    border-right: 0px;
}
.tabs-nav-bottom li {
    border: 1px #0088cc solid;
    border-top: 0px;
    border-right: 0px;
}
.tabs-nav-top :first-child {
    border-top-left-radius: 4px;
}
.tabs-nav-bottom :first-child {
    border-bottom-left-radius: 4px;
}
.tabs-nav-top :last-child,
.tabs-descr > .tabs-nav-top :last-child {
    border-top-right-radius: 4px;
    border-right: 1px #0088cc solid;
}
.tabs-nav-bottom :last-child,
.tabs-descr > .tabs-nav-bottom :last-child {
    border-bottom-right-radius: 4px;
    border-right: 1px #0088cc solid;
}
.tabs-nav:after {
    clear: both;
    float: none;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}
.tabs-nav li {
    list-style: none;
    padding: 4px 15px;
    margin: 0px;
    float: left;
    cursor: pointer;
    color: #0088cc;
}
.tabs-nav li.active {
    cursor: default;
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
.tabs-nav li:hover {
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
.tabs-descr {
    list-style: none;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    border: 1px #0088cc solid;
    /*border-bottom-left-radius: 4px;*/
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}
.tabs-descr .itemList {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    display: none;
}
.tabs-descr:after {
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}
.tabs-descr .active {
    display: block;
}