/* MAIN.CSS */
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    background: url('../images/main_bg.png?1424545119') #ccc;
    /*overflow: hidden;*/
}

.header {
    position: relative;
    width: 1280px;
    min-height: 100%;
    margin: 0px auto;
    background-color: #ffffff;
}
.header .header-container {
    border-bottom: 1px silver solid;
    border-color: #0079a4;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
.main {
    position: relative;
    width: 1280px;
    height: 100%;
    min-height: 1000px;
    margin: 0px auto;
    background-color: #ffffff;
}
.main .main-container #content {
    padding: 20px;
}
.fl-left {
    float: left;
}
.fl-right {
    float: right;
}
.fl-right:after,
.fl-left:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* MAIN.CSS */

/* NAVBAR.CSS */
.navbar {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar li {
    float: left;
    line-height: 20px;
    position: relative;
}
.navbar li a {
    display: block;
    padding: 10px 15px 10px;
    color: #fff;
    text-decoration: none;
}
.caret {
    border-top-color: white;
    border-bottom-color: white;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-top: 8px;
    margin-left: 8px;
}
/* NAVBAR.CSS */

ul.dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
ul.dropdown-menu a {
    color: #000;
}
ul.dropdown-menu li {
    position: relative;
    display: block;
    float: none;
    line-height: 10px;
    white-space: nowrap;
}
ul.dropdown-menu li:hover,
ul.dropdown-menu li:hover a {
    background-color: #007DBC;
    color: #ffffff;
}
.navbar li:hover > ul {
    display: block;
}

/* TABLE.CSS */
.table {
    width: 100%;
    height: 100%;
    display: table;
}
.table .cell {
    display: table-cell;
    position: relative;
}
.table .row {
    display: table-row;
    position: relative;
}
.table .v-top {
    vertical-align: top;
}
.table .v-middle {
    vertical-align: middle;
}
.table .v-bottom {
    vertical-align: bottom;
}
.table .a-left {
    text-align: left;
}
.table .a-center {
    text-align: center;
}
.table .a-right {
    text-align: right;
}
/* TABLE.CSS */

/* SIMPLY-CSS-TABLE */
.simple-table {
    width: 500px;
    height: 250px;
    border: 1px silver solid;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    padding: 0px !important;
}
.simple-table input {
    height: 30px;
    position: relative;
    width: 300px;
}
.simple-table .header .cell {
    height: 20px;
    padding: 10px;
    border-bottom: 1px #eee solid;
}
.simple-table .content .cell {
    padding: 10px;
}
.simple-table .bottom .cell {
    height: 20px;
    padding: 10px;
    border-top: 1px #eee solid;
    background-color: #f5f5f5;
}
/* SIMPLY-CSS-TABLE */

/* LOGIN.CSS */
.loginForm form {
    width: 100%;
    height: 100%;
}
.loginForm {
    width: 500px;
    height: 250px;
    border: 1px silver solid;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}
.loginForm input {
    height: 30px;
    position: relative;
    width: 300px;
}
.loginForm .header .cell {
    height: 20px;
    padding: 10px;
    border-bottom: 1px #eee solid;
}
.loginForm .content .cell {
    padding: 10px;
}
.loginForm .bottom .cell {
    height: 20px;
    padding: 10px;
    border-top: 1px #eee solid;
    background-color: #f5f5f5;
}
/* LOGIN.CSS */

/* BUTTON.CSS */
.btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 15px;
}
.btn:hover,
.btn:active {
	-moz-box-shadow:0 0 1px 1px rgba(255,255,255,0.4) inset, 0 0 6px 4px rgba(90,210,255,0.5);
	-webkit-box-shadow:0 0 1px 1px rgba(255,255,255,0.4) inset, 0 0 6px 4px rgba(90,210,255,0.5);
	box-shadow:0 0 1px 1px rgba(255,255,255,0.4) inset, 0 0 6px 4px rgba(90,210,255,0.5);
	text-decoration:none;
}
.btn-block {
    display: block;
}
.btn-block input[type=button] {
    margin: 0px 5px;
}
.btn-primary {
    border: 1px #0088cc solid;
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
.btn-default {
    border: 1px silver solid;
    color: silver;
}
.btn-success {
    border: 1px #0088cc solid;
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
.btn-info {
    border: 1px #0088cc solid;
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
.btn-warning {
    border: 1px #0088cc solid;
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
.btn-danger {
    border: 1px #0088cc solid;
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
/* BUTTON.CSS */

/* INPUT, TEXTAREA */
input[type=text], input[type=password], textarea, select {
    box-sizing: border-box !important;
}
input[type=text], input[type=password], textarea, select {
    height: 30px;
    position: relative;
    width: 300px;
    border-radius: 3px;
    border: 1px #0088cc solid;
    padding: 4px;
    text-align: center;
    margin: 10px 0px;
}
input[type=button],
input[type=submit] {
    height: 30px;
    text-align: center;
}
input[type=text]:after, input[type=password]:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



.items-list {
    width: 100%;
    z-index: 1000;
    border-spacing: 1px;
    font-size: 13px;
}
.items-list a {
    color: #08c;
    text-decoration: none;
}
.items-list a:hover {
    color: #005580;
    text-decoration: underline;
}
.items-list th {
    border-bottom: 1px solid white;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
    color: white;
    font-weight: bold;
    padding: 5px 3px;
    text-align: center;
}
.enabled { background-color: #00FF80 !important; cursor: pointer; }
.disabled { background-color: silver !important; cursor: pointer; }

.itemid td { background-color: #F8F8F8; text-align: center; padding: 10px 0px; }
.itemid:hover td { background-color: #E6E4E4; }

.itemid .tabs { background-color: #F8F8F8; }
.itemid:hover .tabs { background-color: #E6E4E4; }
/* PANEL.CSS */
.panel {
    border: 1px #ddd solid;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel .panel-header {
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 5px 10px;
    text-align: left;
}
.panel .panel-content {
    padding: 10px;
}
/* PANEL.CSS */

ul.photos-list {
    list-style: none;
    padding: 0px;
    margin: 20px 0px 0px 0px;
    display: table;
}
ul.photos-list:after {
    clear: both;
    float: none;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}
ul.photos-list li {
    list-style: none;
    padding: 0;
    margin: 5px;
    float: left;
    border: 0px #0088cc solid;
    cursor: pointer;
    color: #0088cc;
    white-space: normal !important;
    word-wrap: normal !important;
}
ul.photos-list li div {
    width: 250px;
    height: 250px;
}
ul.ui-autocomplete {
    border-top: 1px #cb4a7d solid;
    border-bottom: 1px #cb4a7d solid;
    background-color: #ffffff;
    z-index: 10000;
    border-right: 1px #cb4a7d solid;
    border-left: 1px #cb4a7d solid;
}
ul.ui-autocomplete .ui-state-focus {
    border: 1px #cb4a7d solid;
    border-left: 0px;
    border-right: 0px;
    color: #ffffff;
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#d96b96,#cb4a7d);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#d96b96),to(#cb4a7d));
    background-image: -webkit-linear-gradient(top,#d96b96,#cb4a7d);
    background-image: -o-linear-gradient(top,#d96b96,#cb4a7d);
    background-image: linear-gradient(to bottom,#d96b96,#cb4a7d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd96b96', endColorstr='#ffcb4a7d', GradientType=0);
}
/* TABS.RUNTIME.CSS */
ul.tabsRunTimeTasks {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
ul.tabsRunTimeTasks li {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px silver solid;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
/* TABS.RUNTIME.CSS */

/* postList.css */
ul.postList {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 1px #ffffff solid;
}
ul.postListOpen > li ul.desc {
    display: block !important;
}
ul.postList .btn-block input[type=button] {
    margin: 5px!important;
}
ul.postList li .titleBlock {
    color: #ffffff;
    background-color: #0088cc;
    cursor: pointer;
}
ul.postList li.open ul.desc {
    display: block;
}
ul.postList li.open .titleBlock {
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
ul.postList li ul.desc {
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-left: 1px #0088cc solid;
    border-right: 1px #0088cc solid;
}
ul.postList li ul.desc .textDesc {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-line;
    word-wrap: break-word;
    padding: 10px;
}
ul.postList li .titleBlock:hover {
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
}
ul.postList li .titleBlock div:first-child {
    width: 80%;
    padding: 5px;
}
ul.postList li .titleBlock div:last-child {
    width: 20%;
    padding: 5px;
}
ul.postList li {
    border-bottom: 1px #ffffff solid;
}
ul.postList li:last-child {
    border-bottom: 0px;
}
ul.postList li:after {
    clear: both;
    float: none;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}
/* postList.css */

/* checkList.css */
ul.checkList {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 1px #ffffff solid;
}
ul.checkList li {
    border: 1px silver solid;
    border-bottom: 0px;
    text-align: left;
    padding: 5px 0px 5px 40px;
    cursor: pointer;
}
ul.checkList li:last-child {
    border-bottom: 1px silver solid;
}
ul.checkList li:hover {
    color: white;
    background-color: #B4B4B4;
}
ul.checkList li.checked {
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
    color: white;
}
/* checkList.css */

ul.listDefault {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 0px silver solid;
}
ul.listDefault li {
    border: 1px #00a0d0 solid;
    border-bottom: 0px;
    text-align: left;
    padding: 5px 0px 5px 40px;
    cursor: pointer;
}
ul.listDefault li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
ul.listDefault li:last-child {
    border-bottom: 1px #00a0d0 solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul.listDefault li:hover {
    background-color: #00a0d0;
    background-image: -moz-linear-gradient(top,#00aad6,#0090c7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00aad6),to(#0090c7));
    background-image: -webkit-linear-gradient(top,#00aad6,#0090c7);
    background-image: -o-linear-gradient(top,#00aad6,#0090c7);
    background-image: linear-gradient(to bottom,#00aad6,#0090c7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aad6', endColorstr='#ff0090c7', GradientType=0);
    color: white;
}